partial alphanumeric_keys
xkb_symbols "<%= @map[:name] %>" {
    name[Group1]= "<%= @map[:group] %>";

<% @map[:map].each_key do |k| -%>
   <%- 
       next if k == Constants::Key::NONE
       v = @map[:map][k]
       chars = [] of String
       v.each do |y|
         if @@xkb_lookup.has_key? y
          chars << @@xkb_lookup[y]
         else
          chars << y
         end
       end
   -%>
      key <<%= k.to_s %>> {[ <%= chars.join(", ") %> ]};
<%- end %>

   include "capslock(none)"
};

